/* logo */

#logo-container {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
}

#logo-container::before {
    content: ' ';
    width: 33%;
}

#logo-container img {
    cursor: pointer;
}

#search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
    height: 3rem;
}

#openSearch {
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 25px;
    font-size: 1.3rem;
    transition: 0.15s;
}

#openSearch:hover {
    cursor: pointer;
    background-color: rgb(228, 214, 195);
}

/* modal dialog */

#modalContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 100;
}

#modalContainer.active {
    transform: scale(1);
}

#modalContainer.active.out {
    animation: quickScaleDown 0s .5s linear forwards;
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.modal-background {
    height: 100%;
    padding: 2rem 0 2rem 0;
}

.active .modal-background {
    background: rgba(0,0,0,.0);
    animation: fadeIn .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.active.out .modal-background {
    animation: fadeOut .4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes fadeIn {
    0% {
        background: rgba(0,0,0,.0);
    }
    100% {
        background: rgba(0,0,0,.35);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .35);
    }

    100% {
        background: rgba(0,0,0,.0);
    }
    
}

.modalSearch {
    height: 100%;
    margin: auto 0 auto auto;
    width: 25%;
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 2rem;
}

.active .modalSearch {
    background-image: url('data:image/svg+xml,<svg className="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none"><rect x="0" y="0" fill="none" width="100%" height="100%" rx="25px" ry="25px" stroke="white" stroke-width="8px"></rect></svg>');    
    background-color: transparent;
    position: relative;
    animation: modalFadeIn 1.3s .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards,
    appearRight .8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.active.out .modalSearch {
    background-color: white;
    animation: quickHideRight .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

@keyframes appearRight {
    0% {
        right: -20rem;
    }
    100% {
        right: 0;
    }
}

@keyframes quickHideRight {
    0% {
        transform: translateX(0);
        scale:1;
        opacity: 1;
    }

    100% {
        transform: translateX(600px);
        opacity: 0;
        scale:.95;
    }
}


.active .modalSearch #closeSearch {
    opacity: 0;
    position: relative;
    right: -20rem;
    animation: modalContentFadeIn .5s .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.active .modalSearch form {
    opacity: 0;
    right: -20rem;
    position: relative;
    animation: modalContentFadeIn .5s .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        right: -20rem;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

.modalSearch form {
    height: 2rem;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}

.modalSearch input {
    height: 2.5rem;
    width: 70%;
    padding: 0 1.5rem;
    font-size: 1rem;
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    transition: .8s;
}

.modalSearch input:focus {
    background-color: whitesmoke;
}

#search {
    cursor: pointer;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: antiquewhite;
    color: rgb(95, 95, 95);
    border: none;
    font-size: 1rem;
    border-radius: 0 20px 20px 0;
    transition: 0.2s;
}

#search:hover {
    background-color: rgb(228, 214, 195);
}

#closeSearch {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: 0.15s;
}

#closeSearch:hover {
    background-color: rgb(228, 214, 195);
}


/* navbar */

#navbar-container {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(148, 13, 13);
    color: black;
}

nav {
    width: 50%;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1rem;
    height: 100%;
    padding: 0;
    margin: auto;
}

nav li {
    width: min-content;
    margin: 0;
    padding: 0 1.5rem;
    text-align: center;
    transition: 0.15s;
}

nav li:hover {
    padding-bottom: 0.5rem;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

nav p {
    width: min-content;
    text-wrap: nowrap;
}



